ion-header {
    --background: var(--ion-color-primary);
    --color: #fff;
  }
  
  ion-toolbar {
    --background: var(--ion-color-primary);
    --color: #fff;
  }
  
  ion-title {
    font-weight: bold;
  }
  